<html>
    <head>
        <title>Success</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Data Registed in the system</h1>
            </div>
            <div id="content">
                Alias <strong>{{alias}}</strong>
                Color <strong>{{color}}</strong>
                HW/id <strong> {{maddr}}</strong>
            </div>
        </div>
    </body>
</html>
