<html>
    <head>
        <title>Add Device</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script src="static/js/addvalidate.js"></script>
        <script>
            window.onbeforeunload = function() {  window.location = "/";};
        </script>
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Add Device to watch list</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('form') }}" name="addForm" onsubmit="return(validate());">
                  <label for="alias">Please enter an Alias for HW/id:</label>
                  <input type="text" name="alias" /><br />
                  <label for="alias">Choose a color for the HW Address:</label>
                  <input type="radio" name="color" value="Red" />Red<br />
                  <input type="radio" name="color" value="Green" />Green<br />
                  <input type="radio" name="color" value="Blue" />Blue<br />
                  {{dyndata|safe}}
                  <input type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>
