<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
      <script src="static/js/application.js"></script>
   </head>

   <body>
      <h2>Program Loaded!</h2>
      The date and time on the server is: {{ time }}
      <div>
          <div id="container">
              <div class="title">
                  <h1>Device Map</h1>
              </div>
              <div class="row">
                  <p>Real Time Data</p>
              <div id="st_table">
              </div>
          </div>
      </div>
        <a href="/add" class="btn">Add/Remove</a>
   </body>
</html>
